html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #658354;        
  border: 15px solid #35502c;       
  font-family: sans-serif;

  display: flex;
  justify-content: center;          
  align-items: center;              
  padding: 40px;                    
}

.main-card {
  background-color: #8fbf73;    
  padding: 30px 40px;

  width: 95%;
  max-width: 1200px;
  min-height: 60vh;            
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}




h1, h2, h3, h4 {
  margin: 10px 20px;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}

.image-row img {
  max-width: 200px;
  height: auto;
}

.footer-logo {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-logo img {
  width: 100px;
  height: auto;
}
